.root {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.root-pane,
.text-field,
.vbox,
.label,
.check-box,
.radio-button,
.combo-box,
.list-view,
.table-view {
-fx-font-family: "Poppins";
}

.root-pane {
    -fx-border-color: #3498db;
    -fx-border-width: 4;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #f0f0f0;
}

.button {
     -fx-background-radius: 6;
     -fx-border-radius: 6;
     -fx-padding: 2 8 2 8;
}

.text-field {
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

#inicioVbox {
    -fx-background-color: #264653;
    -fx-border-color: #264653;
    -fx-border-width: 2;
    -fx-border-radius: 0 10 10 0;
    -fx-background-radius: 0 10 10 0;
}

.vbox .button {
    -fx-alignment: center-left;
    -fx-content-display: left;
    -fx-graphic-text-gap: 10px;
}

#menuAddUser,
#menuRemoveUser,
#menuSair,
#menuImportarOs,
#menuConsultOs,
#menuCloseOs,
#menuEditarItem,
#menuSolcitarItem,
#menuRetiradaItem,
#menuEntradaItem {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-cursor: hand;
    -fx-alignment: CENTER_LEFT;
    -fx-content-display: LEFT;
    -fx-graphic-text-gap: 10;
    -fx-padding: 5 10 5 10;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-transition: all 0.2s ease-in-out;
}

#menuAddUser:hover,
#menuRemoveUser:hover,
#menuSair:hover,
#menuImportarOs:hover,
#menuConsultOs:hover,
#menuCloseOs:hover,
#menuEditarItem:hover,
#menuSolcitarItem:hover,
#menuRetiradaItem:hover,
#menuEntradaItem:hover {
    -fx-border-color: transparent transparent #fca311 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 1.3em;
    -fx-text-fill: #fca311;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
}

.text-field:disabled {
    -fx-opacity: 1;
    -fx-text-fill: #888888;
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.text-field:disabled:focused {
    -fx-border-color: #cccccc;
    -fx-background-color: white;
}

.table-view {
    -fx-background-color: white;
    -fx-background-radius: 40 40 40 40;
    -fx-border-color: #b0b0b0;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 40 40 0 0;
    -fx-padding: 0;
}

.table-view > .virtual-flow > .clipped-container > .sheet {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.table-view .column-header-background {
    -fx-background-color: #434A50;
    -fx-background-radius: 40 40 0 0;
    -fx-padding: 0;
}
.table-view .column-header {
    -fx-pref-height: 30px;
}

.table-view .column-header,
.table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: "Poppins";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

.table-cell {
    -fx-font-family: "Poppins";
    -fx-font-weight: regular;
    -fx-padding: 6px;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent transparent #e0e0e0 transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #14213d;
}

.table-row-cell:odd .table-cell {
    -fx-background-color: #E3E3E3;
}

.table-row-cell:even .table-cell {
    -fx-background-color: #ffffff;
}

.table-row-cell:hover .table-cell {
    -fx-background-color: rgba(38,70,83,0.2);
    -fx-text-fill: #000;
}

.table-row-cell:selected {
    -fx-background-color: #0a64ad !important;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #0a64ad !important;
    -fx-text-fill: white !important;
}

.table-row-cell:selected:focused {
    -fx-background-color: #0a64ad !important;
}

.table-row-cell:selected:armed {
    -fx-background-color: #0a64ad !important;
}

.split-pane {
    -fx-background-color:  #e5e5e5;
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: white;
    -fx-pref-width: 2px;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-width: 6px;
    -fx-min-width: 6px;
    -fx-max-width: 6px;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #264653;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
}

#rootPane {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 10;
}

#rootPane.outer-border {
    -fx-border-color: #3498db;
    -fx-border-width: 4;
}

.root, .text-field, .vbox, .label, .check-box, .radio-button, .combo-box, .list-view, .table-view {
    -fx-font-family: "Poppins";
}

.button {
    -fx-background-radius: 6;
    -fx-border-radius: 6; -fx-padding: 2 8 2 8;
 }

.text-field {
    -fx-background-radius: 7;
    -fx-border-radius: 7;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

#enterUserNameField,
#enterPasswordField {
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255,255,255,0.6);
}

#removeUser,
#register,
#saidaItemAnchorPane,
#entradaItenAnchorPane,
#ImportarOsAcnhorPane,
#consultItemSplitPane,
#fecharOsAnchorPane,
#consultarOsPane,
#inicioPane{
    -fx-background-color: white;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

#importSelecionarExcel:hover,
#importFazerImport:hover,
#consultBuscarOs:hover,
#confirmCloseOsButton:hover,
#entradaItemConfirmar:hover,
#retirarConfirmarButton:hover,
#cadastrarButton:hover,
#removeConfirmarButton:hover,
#removeBuscarMatricula:hover,
#loginButton:hover {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}
